@import 'nib' // CSS3 extensions for Stylus: http://visionmedia.github.io/nib/

// variables!

slide_width = 640px
slide_height = 480px
slide_background = transparent

slide_transition_length = 0s
slide_transition_easing = ease-in-out
slide_transition_rotate_y = 90deg
// Safari bugs out on 3d transform-origins, so we have to fake it
slide_transition_nudge_x = -100px

bullet_transition_length = .1s
bullet_transition_easing = ease
bullet_transition_translate_x = 16px

// base

*
  box-sizing: border-box
  margin: 0
  padding: 0

@media print
  *
    -webkit-print-color-adjust: exact

@page
  size: landscape
  margin: 0

// bespoke.js layout styles

article
  transition: background slide_transition_length slide_transition_easing
  display: none
  &.bespoke-parent
    display: block
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    overflow: hidden
    @media print
      overflow: visible
      position: static
    perspective: 600px

.bespoke-slide
  transition:
    transform slide_transition_length slide_transition_easing,
    opacity slide_transition_length slide_transition_easing,
    background slide_transition_length slide_transition_easing
  transform-origin: 50% 50% 0
  backface-visibility: hidden
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  width: slide_width
  height: slide_height
  position: absolute
  top: 50%
  margin-top: (slide_height / 2) * -1
  left: 50%
  margin-left: (slide_width / 2) * -1
  background: slide_background
  padding: 40px
  border-radius: 0
  @media print
    zoom: 1 !important // disable bespoke-scale
    height: 743px // seems to correspond with an A4, landscape page height
    width: 100%
    page-break-before: always
    position: static
    margin: 0
    transition: none

.bespoke-before
  transform: translateX(slide_transition_nudge_x * -1) translateX(slide_width / -2) rotateY(slide_transition_rotate_y * -1) translateX(slide_width / -2)
  @media print
    transform: none

.bespoke-after
  transform: translateX(slide_transition_nudge_x) translateX(slide_width / 2) rotateY(slide_transition_rotate_y) translateX(slide_width / 2)
  @media print
    transform: none

.bespoke-inactive
  opacity: 0
  pointer-events: none
  @media print
    opacity 1

.bespoke-active
  opacity: 1

// bespoke-bullet styles

.bespoke-bullet
  transition: all bullet_transition_length bullet_transition_easing
  @media print
    transition: none

.bespoke-bullet-inactive
  opacity: 0
  li&
    transform: translateX(bullet_transition_translate_x)
    @media print
      transform: none
  @media print
    opacity: 1

.bespoke-bullet-active
  opacity: 1

// bespoke-scale styles

.bespoke-scale-parent
  perspective: 600px
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  @media print
    transform: none !important

// bespoke-progress styles

.bespoke-progress-parent
  position: absolute
  top: 0
  left: 0
  right: 0
  height: 2px
  @media only screen and (min-width: 1366px)
    height: 4px
  @media print
    display: none

.bespoke-progress-bar
  transition: width .6s ease
  position: absolute
  height: 100%
  background: #0089f3
  border-radius: 0 4px 4px 0

// bespoke-state styles

.emphatic,
.emphatic .bespoke-slide
  background: slide_background

.background
  background-color #FFF
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  z-index: -1
// prism styles

pre
  padding: 26px !important
  border-radius: 8px

// content styles

.background
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0

body
  font-family: "Source Sans Pro", helvetica, arial, sans-serif
  font-size: 18px
  color: #404040

h1
  font-size: 6em
  font-weight: 100
  line-height: 1em
  letter-spacing: -2px
  margin-bottom: 16px

h2
  font-size: 4em
  font-weight 300
  letter-spacing: -1px
  margin-bottom: 8px

h3
  font-size: 3em
  font-weight: bold
  margin-bottom: 24px
  color: #606060

hr
  visibility: hidden
  height: 20px

ul
  font-size 2em
  list-style: none

li

  margin-bottom: 12px

p
  margin: 0 100px 12px
  line-height: 22px

a
  color: #0089f3
  text-decoration: none

#roboto
  font-family Roboto

.black,
.black .bespoke-slide
  background-color #000

.theinternet
  h1
    color: #00F
    font-weight 700
    text-shadow: 10px 10px 0 #FF0
  ul
    color #F00
    font-weight 900
    font-size 36px
    text-shadow: 10px 10px 0 #0FF
    li
      font-size 68px

.theinternet .background
  background-image: url('../images/theinternet.gif')

.myeyes .background
  background-image url('../images/myeyes.gif')

.makeitstop .background
  background-image url('../images/makeitstop.gif')

.dealwithit
  .background
    background-image url('../images/dealwithit.gif')
    background-size auto 100%

.antesdelinternet .background
  background-image url('../images/antesdelinternet.jpg')

.starintro
  .background
    background-color #000
    background-size 400% auto
  h4
    color #0FF
    font-size 2.4em

.starinternet
  .background
    background-image url('../images/starinternet.png')
    background-color #000
    transition: background-size 10s linear;
  .bespoke-active ~ .background
    background-size 0 auto

.arpanet
  .background
    background-image url('../images/arpanet.jpg')
    background-size 80% auto

.kleinrock
  .background
    background-image url('../images/kleinrock.jpg')
  h1
    color: #FFF
    font-weight 900
    text-shadow: 4px 4px 0 #000

.kleinrock2
  .background
    background-image url('../images/kleinrock.jpg')
    opacity 0.3

.telephone
  .background
    background-color #000

  li
    color #0F0
    font-family monospace
    display inline-block


.crash
  .background
    background-color #00F
  h1
    color #fff
    font-family monospace

.revolution
  .background
   background-color #00F
   opacity 0.5

  h3
    color #FFF

.fast
  .background
    background-image url('../images/fast.gif')
  h3
    color #fff

.inter1 .background
  background-image url('../images/inter1.jpg')
.inter2 .background
  background-image url('../images/inter2.jpg')
.inter3 .background
  background-image url('../images/inter3.jpg')
.inter4 .background
  background-image url('../images/inter4.jpg')
.inter5 .background
  background-image url('../images/inter5.png')
.inter6 .background
  background-image url('../images/inter6.gif')
.inter7 .background
  background-image url('../images/inter7.png')
.inter8 .background
  background-image url('../images/inter8.gif')
  background-size 80% auto

iframe
  height 100%
  width 100%

.polymer,
.evolution
  .bespoke-slide
    top: 32%
    left 30%
    height 750px
    width 1100px

.tahir
  .background
    background-color #000
    background-image url('../images/tahir.jpg')
  li
    color #fff
    margin-top -4em

.mobilegrowth
  section
    background-image url('../images/mobilegrowth.gif')
    background-repeat no-repeat
    background-position center center

.technology
  .background
    background-image url('../images/technology.png')
  h1
    color: #66F
    text-shadow: 10px 10px 0 #FFF
    font-weight 900

.movefast
  .background
    background-image url('../images/movefast.gif')
  h3
    color #FFF

.cockblock
  .background
    background-image url('../images/cockblock.gif')

.gloomy
  .background
    background-color #000
    background-image url('../images/gloomy.gif')
    background-size 80% auto

.future
  .background
    background-image url('../images/future.gif')
  h1
    color #FFF

.magic
  .background
    background-image url('../images/magic.gif')
  h1
    color #fff
    margin-top: 2em
    font-weight 800
    font-size 0em
    text-shadow: 0 0 60px #FFF
    transition: text-shadow 2s linear;
  .bespoke-active h1
    font-size 6em

.programming
  .background
    background-image url('../images/programming.gif')
    background-size auto 100%

.patrick
  .background
    background-image url('../images/patrick.gif')

.uber
  .background
    background-color #000
    background-image url('../images/uber.jpg')
    background-size auto 100%

.kickstarter
  .background
    background-image url('../images/kickstarter.jpg')

.wikipedia
  .background
    background-image url('../images/wikipedia.png')
    background-size auto 100%

.websites
  .background
    background-image url('../images/websites.jpg')
    background-size auto 100%

.letsmakemoney
  .background
    background-color #000
    background-image url('../images/letsmakemoney.gif')
    background-size auto 100%
