doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title The Internet

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Roboto:300')
    // endbuild

  body

    article

      section#roboto
        h1 The Internet
        ul
          li
          li Hello, Roboto

      sectionn
        h2 No te creas shago....

      section(data-bespoke-state='theinternet audio')
        h1 The Internet!!
        ul
          li
          li Source Sans Pro
          li gracias Adobe

      section(data-bespoke-state='myeyes')
      section(data-bespoke-state='makeitstop')

      section
        h1 ¿Por qué el internet?
        ul
          li
          li What's the deal?

      section(data-bespoke-state='dealwithit')

      section
        ul
          li El internet me apasiona

      section
        ul
          li ¿Recuerdan la vida sin internet?

      section(data-bespoke-state='antesdelinternet')

      section
        ul
          li Breve historia del internet...

      section(data-bespoke-state='starintro')
        h4 Long time ago in a galaxy far,
        h4 far away...

      section(data-bespoke-state='starinternet audio')

      section(data-bespoke-state='arpanet')
        h2 The ARPANET

      section(data-bespoke-state="kleinrock")
        h1 Leonard Kleinrock

      section(data-bespoke-state="kleinrock2")
        h3 "We set up a telephone connection between us and the guys at SRI ..."

      section(data-bespoke-state="telephone")
        ul
          li
          li L
          li O
          li G
          li ...

      section(data-bespoke-state="crash audio")
        h1 ERROR

      section(data-bespoke-state="revolution")
        h3 "...Yet a revolution had begun"

      section
        ul
          li "Moving into the NSFNET era, it became an extraordinarily decentralized process.
          li
            strong The record exists in people's basements, in closets
          li So much of what happened was done verbally and on the basis of individual trust."
          li - Douglas Gale

      section(data-bespoke-state="fast")
        h3 Bueno, tenemos que ir más rápido...

      section(data-bespoke-state="inter1 audio")
      section(data-bespoke-state="inter2")
      section(data-bespoke-state="inter3")
      section(data-bespoke-state="inter4")
      section(data-bespoke-state="inter5")
      section(data-bespoke-state="inter6")
      section(data-bespoke-state="inter7")
      section(data-bespoke-state="inter8")
      section
        h3 The First Website
        iframe(src='http://info.cern.ch/hypertext/WWW/TheProject.html')

      section(data-bespoke-state="evolution")
        iframe(src='http://www.evolutionoftheweb.com/')

      section
        h2 Lo cual nos lleva al estado actual.

      section
        h3 Vivimos en un momento muy importante en la historia del internet

      section(data-bespoke-state="tahirpre")
        ul
          li ¿Qué sigue?

      section(data-bespoke-state="tahir audio")
        ul
          li
          li The smartphone revolution

      section(data-bespoke-state="mobilegrowth")

      section(data-bespoke-state="technology audio")
        h1 Web Tech Explosion

      section(data-bespoke-state="technology second")
        h1 Web Tech Explosion

      section
        h3 Día con día es más fácil hacer una aplicación

      section(data-bespoke-state="polymer")
        iframe(src='http://www.polymer-project.org/tools/designer/')

      section(data-bespoke-state="magic audio")
        h1 Magic

      section(data-bespoke-state="programming")

      section
        ul
          li Ta weno'mbe ¿qué hacemos?

      section(data-bespoke-state="movefast")
        h3 Move fast!!

      section(data-bespoke-state="cockblock")

      section(data-bespoke-state="gloomy")

      section(data-bespoke-state="future")
        h1 bright future ahead

      section
        h3 We have technology

      section(data-bespoke-state="patrick")

      section
        ul
          li No pensemos sólo en sentido de <strong>sitios</strong> web
      section
        ul
          li Pensemos en <strong>ideas</strong>

      section(data-bespoke-state="uber")
      section(data-bespoke-state="kickstarter")
      section(data-bespoke-state="wikipedia")
      section(data-bespoke-state="websites audio")

      section
        ul
          li <strong>Dronix</strong> es un buen inicio...

      section(data-bespoke-state="letsmakemoney audio")




    // build:js scripts/scripts.js

    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild
